<div class="container">
    <div id="education" class="">
        <mat-accordion>
            <mat-expansion-panel class="expansion_panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="bold">{{uniTitle}}</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="university_info">
                    <mat-card class="info">
                        
                        <mat-card-header>
                            <mat-card-title class="bold">{{uniSubtitle}}</mat-card-title>
                            <mat-card-subtitle class="medium">2018-Present</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <table mat-table [dataSource]="uniDataSource" class="mat-elevation-z8">
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th class="medium" mat-header-cell *matHeaderCellDef> info </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="info">
                                    <th class="medium" mat-header-cell *matHeaderCellDef> additional info </th>
                                    <td mat-cell *matCellDef="let element"> {{element.info}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel class="expansion_panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="bold">{{schoolTitle}}</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="secondary_info">
                    <mat-card class="info">
                        <mat-card-header>
                            <mat-card-title class="bold">{{schoolSubtitle}}</mat-card-title>
                            <mat-card-subtitle class="medium">2013-2017</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <table mat-table [dataSource]="schoolDataSource" class="mat-elevation-z8">
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th class="medium" mat-header-cell *matHeaderCellDef> info </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="info">
                                    <th class="medium" mat-header-cell *matHeaderCellDef> additional info </th>
                                    <td mat-cell *matCellDef="let element"> {{element.info}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-expansion-panel>
        </mat-accordion>             

        <mat-accordion>
            <mat-expansion-panel class="expansion_panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="bold">{{achievementsTitle}}</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="secondary_info">
                    <mat-card class="info">
                        <mat-card-header>
                            <mat-card-title class="bold">{{achievementSubtitle}}</mat-card-title>
                            <mat-card-subtitle class="medium">2013-2017</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <table mat-table [dataSource]="adtionalAcademics" class="mat-elevation-z8">
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th class="medium" mat-header-cell *matHeaderCellDef> info </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="info">
                                    <th class="medium" mat-header-cell *matHeaderCellDef> additional info </th>
                                    <td mat-cell *matCellDef="let element"> {{element.info}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-expansion-panel>
        </mat-accordion>             
    </div>
</div>