@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap');
html{
    background:#C0C0C0;
    display: grid;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(1,2fr);
    float: left;
}

.university_info
{
    margin: 10px;
}

.secondary_info
{
    margin: 10px;
}

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.medium{
    font-weight: 500;
    font-size: 16px;
}

.regular{
    font-weight: 400;
    font-size: 20px;
}


.info{
    max-width: 400px;
}
  
.header_image {
    background-size: cover;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
