<div class="container">
    <div id="hobbies" class="flex-center flex-column">
        <mat-card class="info" >
            <mat-card-header>
                <mat-card-title class="bold icon"><fa-icon [icon]="faMusicIco"></fa-icon>{{musicTitle}}</mat-card-title>
                <mat-card-subtitle class="medium">{{musicSubtile}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="regular">
                    I do enjoy listening to music, but I also play instruments such as the guitar.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="info" >
            <mat-card-header>
                <mat-card-title class="bold icon"><fa-icon [icon]="faWood"></fa-icon>{{woodTitle}}</mat-card-title>
                <mat-card-subtitle class="medium">{{woodSubtitle}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="regular">
                    I enjoy working with wood and building furniture for my family and
                    friends.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="info" >
            <mat-card-header>
                <mat-card-title class="bold icon"><fa-icon [icon]="faGolfIco"></fa-icon>{{sportTitle}}</mat-card-title>
                <mat-card-subtitle class="medium">{{sportSubTitle}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="regular">
                    I enjoy watching sport, but also playing it casually. I enjoy playing any form of
                    team sport for my hostel.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="info">
            <mat-card-header>
                <mat-card-title class="bold icon"><fa-icon [icon]="faTechIco"></fa-icon>{{techTitle}}</mat-card-title>
                <mat-card-subtitle class="medium">{{techSubtitle}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="regular">
                    I enjoy fixing any broken technology and I like to take things apart to see
                    how they work. I built my first personal computer when I was in grade three and it has
                    been a passion ever since to tinker with technology. I also watch technology news to
                    stay on top of any new technology in the industry.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="info">
            <mat-card-header>
                <mat-card-title class="bold icon"><fa-icon [icon]="faBook"></fa-icon>{{readTitle}}</mat-card-title>
                <mat-card-subtitle class="medium">{{readSubTitle}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="regular">
                    I enjoy reading and I try to read when I have time.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>