.header_image {
    background-size: cover;
}



ul li{
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
}

.below .info ul li .data{
    margin-bottom: 1rem;
}

.container > #home{
    width: 60%;
}


.hidden{
    display: none;
}

.content-right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

@media screen and (max-width: 30.0625rem){
    /*This was used to fix the layout in mobile*/
    .container > #home{
        width: 100%
    }  

    .info{
        margin: 0.8rem;
    }
}




