@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap');

.bold,.medium,.regular{
    margin-bottom: 1rem;
}

.info{
    margin: 1.2rem;
}

.bold{
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #333;
}

.medium{
    font-weight: 500;
    font-size: 1.2rem;
}

.regular{
    font-weight: 400;
    font-size: 0.8rem;
}
 
.header_image {
    background-size: cover;
}

ul li .icon fa-icon{
    width: 90px;
    height: 90px;
    background: #ffffff;
    color: #0bb5f4 ;
    border-radius: 75%;
    margin-right: 0.8rem;
    font-size: 2rem;
    position: relative;
}

ul li{
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
}

.below .info ul li .data{
    margin-bottom: 1rem;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;/*Allign things vertically*/
    align-items: flex-start;/*Align things horisontally*/
    max-width: 80rem;
    margin:0 auto;
}

.container > *{
    width: 100%;
}


.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

.outside-container{
    display: flex;
    justify-content: center;
}

.below-container{
    display: flex;
    justify-content: center;
}



