.header_image {
    background-size: cover;
}

.icon fa-icon{
    width: 90px;
    height: 90px;
    background: #ffffff;
    color: #0bb5f4 ;
    border-radius: 75%;
    margin-right: 0.8rem;
    font-size: 2rem;
    position: relative;
}

ul li{
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
}

.below .info ul li .data{
    margin-bottom: 1rem;
}

.container > #home{
    width: 60%;
}


.hidden{
    display: none;
}

.content-right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

@media screen and (max-width: 30.0625rem){
    /*This was used to fix the layout in mobile*/
    .container > #home{
        width: 100%
    }  

    .info{
        margin: 0.8rem;
    }
}




