<div class="container">
    <mat-tab-group class ="tab_group" mat-align-tabs="center">
        <mat-tab label="Home" class="medium"><app-home-content></app-home-content></mat-tab>
        <mat-tab label="Skills" class="medium"><app-skills></app-skills></mat-tab>
        <mat-tab label="Education" class="medium"><app-education></app-education></mat-tab>
        <mat-tab label="Work Experience & References" class="medium"><app-work></app-work> 1</mat-tab>
        <mat-tab label="Hobbies" class="medium"><app-hobbies></app-hobbies></mat-tab>
    </mat-tab-group>
</div>
       