::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    display: flex;
    background-color: aliceblue;
    text-transform: uppercase;
    background-color: whitesmoke;
}

.tab_group{
    max-width: auto;
}