<mat-tab-group class ="tab_group" mat-align-tabs="center">
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="icon "><fa-icon [icon]="homeIco"></fa-icon></div>
            <div class ="medium text">Home</div>
        </ng-template>    
        <app-home-content></app-home-content>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="icon "><fa-icon [icon]="skillsIco"></fa-icon></div>
            <div class ="medium text">Skills</div>
        </ng-template>    
        <app-skills></app-skills>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="icon" ><fa-icon [icon]="eduIco"></fa-icon></div>
            <div class ="medium text">Education</div>
        </ng-template>    
        <app-education></app-education>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="icon" ><fa-icon [icon]="workIco"></fa-icon></div>
            <div class ="medium text">Work Experience & References</div>
        </ng-template>    
        <app-work></app-work>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="icon" ><fa-icon [icon]="hobbyIco"></fa-icon></div>
            <div class ="medium text">Hobbies</div>        
        </ng-template>    
        <app-hobbies></app-hobbies>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="icon" ><fa-icon [icon]="projectIco"></fa-icon></div>
            <div class ="medium text">Projects</div>        
        </ng-template>    
        <app-projects></app-projects>
    </mat-tab>
</mat-tab-group>

   
    