
ul li{
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
}

.info ul li .data{
    margin-bottom: 1rem;
}

.about{
    justify-content: left;
    text-justify: inter-word;
    margin: 0.8rem;
}

#player{
    justify-content: center;
    margin: 0.8rem;
}
