
ul li{
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
}

.info ul li .data{
    margin-bottom: 1rem;
}

.about{
    justify-content: left;
    text-justify: inter-word;
    margin: 0.8rem;
}

.youtube #mobile{
    display: none;
}

.youtube{
    justify-content: center;
}

@media screen and (max-width: 30.0625rem){
    .youtube #desktop{
        display: none;
    }

    .youtube #mobile{
        display: flex;
    }
}