.expansion_panels{
    margin: 1.8rem;
    padding-block: 1.8rem;
}

.card_info{
    margin:0.8rem;
    max-width: 100%;
}

.info{
    background-color: gray;
}

.card_content
{
    text-justify: inter-word;
    justify-content: center;
    padding: 1.5rem;
    background-color: whitesmoke;
}

.expansion_panels .medium{
    color: whitesmoke;
}
