<div class="container">
    <div id="work" class="flex-center">
        <div class="expansion_panels">
            <mat-accordion>
                <mat-expansion-panel class="expansion_panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="bold">{{workPanelTitle}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card class="info">
                        <mat-card-header>
                            <mat-card-title class="bold">{{workOneTitle}}</mat-card-title>
                            <mat-card-subtitle class="medium">{{workOneSub}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="card_content regular">
                                Company: North West University, Potchefstroom Campus, North West, South
                                Africa. Date: Started February 2019. – Assisting and marking first year’s
                                programming practical assignments and tests.
                            </p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="info">
                        <mat-card-header>
                            <mat-card-title class="bold">{{workTwoTitle}}</mat-card-title>
                            <mat-card-subtitle class="medium">{{workTwoSub}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="card_content regular">
                                Company: Movation (Pty) Ltd., E.P Malan Street, Pomona AH, Kempton Park,
                                Gauteng, South Africa. Date: Started 18 June 2019 – 21 June 2019. – Practical
                                work week to gain experience in the workplace.
                            </p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="info">
                        <mat-card-header>
                            <mat-card-title class="bold">{{workThreeTitle}}</mat-card-title>
                            <mat-card-subtitle class="medium">{{workThreeSub}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="card_content regular">
                                Company: Linx-AS LLC., 721 Arbor Way, Suite 140, Blue Bell, PA 19422. Date
                                started 18 November 2019 – 14 August 2020. – Developed an Android mobile
                                application.
                            </p>
                        </mat-card-content>
                    </mat-card>

                </mat-expansion-panel>
            </mat-accordion>
            <div class="expansion_panels">
                <mat-accordion>
                    <mat-expansion-panel class="expansion_panel">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="bold">{{ReferencesTitle}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-card class="info">
                            <mat-card-header>
                                <mat-card-title class="bold">{{refCardTitle}}</mat-card-title>
                                <mat-card-subtitle class="medium">{{refCardOneSub}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p class="card_content regular">
                                    Mr. Dirk Snyman; North West University; Potchefstroom.
                                    018 299 4359
                                </p>
                            </mat-card-content>
                        </mat-card>
    
                        <mat-card class="info">
                            <mat-card-header>
                                <mat-card-title class="bold">{{refCardTitle}}</mat-card-title>
                                <mat-card-subtitle class="medium">{{refCardTwoSub}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p class="card_content regular">
                                    Mr. Kenneth Jackson; Movation (Pty) Ltd.; Kempton Park.
                                    ken.jackson@movation.co.za
                                </p>
                            </mat-card-content>
                        </mat-card>
    
                        <mat-card class="info">
                            <mat-card-header>
                                <mat-card-title class="bold">{{refCardTitle}}</mat-card-title>
                                <mat-card-subtitle class="medium">{{refCardThreeSub}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p class="card_content regular">
                                    Mr. Werner Simpson; Linx-AS LLC. Randburg;
                                    083 495 3955
                                </p>
                            </mat-card-content>
                        </mat-card>
    
                    </mat-expansion-panel>
                </mat-accordion>
        </div>
    </div>
</div>
