@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap');

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.medium{
    font-weight: 500;
    font-size: 16px;
}

.regular{
    font-weight: 400;
    font-size: 20px;
}

.info{
    width: 90%;
    margin: 10px;
}


.skills{
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
