@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap');
:root{ 
    font-size: 62.5;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
html,body{
    background-image: url('../assets/background.jpg');
    overflow: hidden;
    overflow-y: auto;
}

.bold,.medium,.regular{
    margin-bottom: 1rem;
}

.icon fa-icon{
    width: 90px;
    height: 90px;
    background: #ffffff;
    color: #0bb5f4 ;
    border-radius: 75%;
    margin-right: 0.8rem;
    font-size: 2rem;
    position: relative;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem rgba(86, 158, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: 150ms;
}

.info{
    margin: 1.2rem;
}

.bold{
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #333;
}

.medium{
    font-weight: 500;
    font-size: 1.2rem;
}

.regular{
    font-weight: 400;
    font-size: 0.9rem;
}

.tab_group .icon fa-icon{
    margin-top: 0.8rem;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;/*Allign things vertically*/
    align-items: flex-start;/*Align things horisontally*/
    max-width: 90rem;
    margin:0 auto;
}

.flex-row{
    display: flex;
    flex-direction: row;
}


.flex-center{
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 30.0625rem){

    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;/*Allign things vertically*/
        align-items: flex-start;/*Align things horisontally*/
        max-width: 90rem;
        margin:0 auto;
    }
    
    .flex-row{
        display: flex;
        flex-direction: column;
    }

    .tab_group .icon fa-icon{
        margin-top: 0.8rem;
        margin-right: 0;
        content: "";
    }

    .text{
        display: none;
        justify-content: center;
    }

    .flex-center{
        justify-content: center;
        align-items: center;
    }
}

